<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FarmingBank.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FarmingBank.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FarmingBank.My.MySettings.access_vehicle_data" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\vehicles.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FarmingBank.My.MySettings>
            <setting name="name" serializeAs="String">
                <value>Customer</value>
            </setting>
            <setting name="languagesetEN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="languagesetDE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="languagesetNL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sessionsave" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wizardsteps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Asave" serializeAs="String">
                <value />
            </setting>
            <setting name="Psave" serializeAs="String">
                <value />
            </setting>
            <setting name="autologin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maxset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sync_i" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sync_a" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sync_m" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ipadr" serializeAs="String">
                <value />
            </setting>
            <setting name="unet" serializeAs="String">
                <value />
            </setting>
            <setting name="moneychar" serializeAs="String">
                <value />
            </setting>
        </FarmingBank.My.MySettings>
    </userSettings>
    <applicationSettings>
        <FarmingBank.My.MySettings>
            <setting name="map01" serializeAs="String">
                <value>Bjornholm</value>
            </setting>
            <setting name="map02" serializeAs="String">
                <value>Westbridge Hills</value>
            </setting>
            <setting name="map03" serializeAs="String">
                <value>Sosnovka</value>
            </setting>
        </FarmingBank.My.MySettings>
    </applicationSettings>
</configuration>